.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* screen ke beech me laane ke liye */
  max-width: 1130px;
  margin: 0 auto; /* left-right center */
  padding: 80px 0; /* top-bottom space */
  background-color: var(--color-bg);
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title {
  font-size: 32px;
  font-weight: 600;
  margin: 0;
}

.subtitle {
  font-size: 18px;
  margin: 0;
  color: #b3b3b3;
}

.right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.heroImage {
  width: 260px;
  height: auto;
  object-fit: contain;
}
