.searchContainer {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  min-width: 320px;
}

.searchInput {
  border: none;
  outline: none;
  padding: 8px 12px;
  flex: 1;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.searchIconButton {
  border: none;
  outline: none;
  padding: 8px 12px;
  background-color: #ffffff;
  cursor: pointer;
  font-size: 16px;
}
